<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBnQAoEwxd3wM9rQLlFosRzsWoT_oYM_RI</string>
	<key>GCM_SENDER_ID</key>
	<string>164432191731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>socialmedia-bfb4f</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmedia-bfb4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164432191731:ios:afe1e8ab35743652dd5786</string>
</dict>
</plist>